<a href="https://colab.research.google.com/github/praneeth1711/B20_1711/blob/main/LAB_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = [10,20,30,40,50]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
#series with custom index
data = [10,20,30,40,50]
index = ['a','b','c','d','e']
series = pd.Series(data,index=index)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
#creating a data frame
data = {'Name':['John','Jane','Bob','charlie'],'Age':[25,30,35,38]}
df = pd.DataFrame(data)
print("Pandas DataFrame")
print(df)

Pandas DataFrame
      Name  Age
0     John   25
1     Jane   30
2      Bob   35
3  charlie   38

In [ ]:
#basic dataframe operations
data = {'Name':['John','Jane','Bob','charlie'],'Age':[25,30,35,38],'city':['hyd','mum','del','raj']}
df = pd.DataFrame(data)
print("Pandas DataFrame")
print(df)
print("Accessing data")
print(df['Name']) #single column
print(df[['Name','city']]) #multiple column
print(df.iloc[1])
print(df.loc[2])
df['salary']=[40000,50000,60000,70000] # adding new column
print(df)
#removing a column
df=df.drop('city',axis=1)
print(df)
#filtering data
print(df[df['Age']>30])
print("basic statistics")
print(df['Age'].mean())
print(df['Age'].max())
print(df['Age'].min())

Pandas DataFrame
      Name  Age city
0     John   25  hyd
1     Jane   30  mum
2      Bob   35  del
3  charlie   38  raj
Accessing data
0       John
1       Jane
2        Bob
3    charlie
Name: Name, dtype: object
      Name city
0     John  hyd
1     Jane  mum
2      Bob  del
3  charlie  raj
Name    Jane
Age       30
city     mum
Name: 1, dtype: object
Name    Bob
Age      35
city    del
Name: 2, dtype: object
      Name  Age city  salary
0     John   25  hyd   40000
1     Jane   30  mum   50000
2      Bob   35  del   60000
3  charlie   38  raj   70000
      Name  Age  salary
0     John   25   40000
1     Jane   30   50000
2      Bob   35   60000
3  charlie   38   70000
      Name  Age  salary
2      Bob   35   60000
3  charlie   38   70000
basic statistics
32.0
38
25

In [ ]:
student_data={'student_id' :[101,102,103,104],
              'name':["raju","ravi","neha","mahi"],
              'marks':[80,69,75,98],
              'department':["cse","ece","eee","civil"]}
df=pd.DataFrame(student_data)
print(df)
#students with marks >80
print(df[df['marks']>80])
#average marks
print(df['marks'].mean())
#adding column
df['result']=['pass'if x>40 else 'fail' for x in df['marks']]
print(df)

   student_id  name  marks department
0         101  raju     80        cse
1         102  ravi     69        ece
2         103  neha     75        eee
3         104  mahi     98      civil
   student_id  name  marks department
3         104  mahi     98      civil
80.5
   student_id  name  marks department result
0         101  raju     80        cse   pass
1         102  ravi     69        ece   pass
2         103  neha     75        eee   pass
3         104  mahi     98      civil   pass

In [ ]:
student_data={'s_rollno' :[101,102,103,104,105,106],
              's_name':["raju","ravi","neha","mahi","arina","harry"],
              'm1':[80,69,75,36,94,78],
              'm2':[59,65,29,48,94,47],
              'm3':[59,87,44,76,68,39]}
df=pd.DataFrame(student_data)
print(df)
df['total']=df['m1']+df['m2']+df['m3']
print(df)
df['average']=df['total']/3
print(df)
# Determine result based on individual marks
df['result'] = ['pass' if m1 >= 40 and m2 >= 40 and m3 >= 40 else 'fail' for m1, m2, m3 in  zip(df['m1'], df['m2'], df['m3'])]
print(df)

   s_rollno s_name  m1  m2  m3
0       101   raju  80  59  59
1       102   ravi  69  65  87
2       103   neha  75  29  44
3       104   mahi  36  48  76
4       105  arina  94  94  68
5       106  harry  78  47  39
   s_rollno s_name  m1  m2  m3  total
0       101   raju  80  59  59    198
1       102   ravi  69  65  87    221
2       103   neha  75  29  44    148
3       104   mahi  36  48  76    160
4       105  arina  94  94  68    256
5       106  harry  78  47  39    164
   s_rollno s_name  m1  m2  m3  total    average
0       101   raju  80  59  59    198  66.000000
1       102   ravi  69  65  87    221  73.666667
2       103   neha  75  29  44    148  49.333333
3       104   mahi  36  48  76    160  53.333333
4       105  arina  94  94  68    256  85.333333
5       106  harry  78  47  39    164  54.666667
   s_rollno s_name  m1  m2  m3  total    average result
0       101   raju  80  59  59    198  66.000000   pass
1       102   ravi  69  65  87    221  73.666667   pass
2       103   neha  75  29  44    148  49.333333   fail
3       104   mahi  36  48  76    160  53.333333   fail
4       105  arina  94  94  68    256  85.333333   pass
5       106  harry  78  47  39    164  54.666667   fail

In [69]:
import pandas as pd
df = pd.read_csv("/content/course_feedback.csv")
df = df.dropna(subset=["Rating"])
filtered = df[(df["Course_Name"] == "Python for Data Science") & (df["Rating"] >= 4)]
result = filtered[["User_ID", "Feedback"]]
print("Feedback for 'Python for Data Science' with Rating >= 4:\n")
for index, row in result.iterrows():
    print(f"User: {row['User_ID']} | Feedback: {row['Feedback']}")

Feedback for 'Python for Data Science' with Rating >= 4:

User: U001 | Feedback: Great course, very informative!
User: U002 | Feedback: Loved the hands-on examples.

In [68]:
import pandas as pd
df = pd.read_csv("/content/air_quality.csv")
df = df.fillna(method="ffill")
polluted_days = df[(df["PM2.5"] > 150) & (df["NO2"] > 80)]
print("Polluted Day Records:\n")
print(polluted_days)
polluted_days.to_csv("polluted_days.csv", index=False)

Polluted Day Records:

  Location  PM2.5   PM10   NO2   SO2        Date
0    Delhi  180.0  250.0  90.0  25.0  2023-06-01
5    Delhi  200.0  300.0  95.0  30.0  2023-06-06
6   Mumbai  160.0  210.0  82.0  22.0  2023-06-07

/tmp/ipython-input-3697160274.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method="ffill")